@model IEnumerable<Blog>


<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb breadcrumb-list">
            <li class="breadcrumb-item"><a asp-area="User" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
            <li class="breadcrumb-item active">Blog</li>
        </ol>
    </div>
</div>
<div class="blog-area pt-90 pb-90">
    <div class="container">
        <div class="section-title text-center">
            <h2>Son Blog Yazıları</h2>
            <p>En son blog yazıları</p>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-40">
                    <div class="single-blog">
                        <div class="blog-content">
                            <h4>
                                <a asp-action="BlogDetail" asp-route-id="@item.Id">@item.BlogTitle</a>
                            </h4>
                            <ul class="meta-box">
                                <li class="meta-date">
                                    <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>@item.Date.ToString("d")
                                    </span>
                                </li>
                            </ul>
                            <p>
                                @{
                                    if (item.BlogText != null)
                                    {
                                        var text = Regex.Replace(item.BlogText, "<.*?>", String.Empty);
                                        if (!string.IsNullOrEmpty(text) && text.Length > 350)
                                        {
                                            <span>@text.Substring(0, 350)...</span>
                                        }
                                        else
                                        {
                                            <span>@text</span>
                                        }
                                    }
                                }
                            </p>
                            <div class="small-btn">
                                <a asp-action="BlogDetail" asp-route-id="@item.Id">Devamını Oku</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>